{% extends '::base.html.twig' %}
{% block stylesheets %}
<style>
    table {
        width: 100%; /* Ширина таблицы */
        background: white; /* Цвет фона таблицы */
        color: white; /* Цвет текста */
        border-spacing: 2px; /* Расстояние между ячейками */
    }
    td, th {
        background: maroon; /* Цвет фона ячеек */
        padding: 5px; /* Поля вокруг текста */
    }
</style>
{% endblock %}
{% block body %}
    <table>
        <tr><th>{{ id }}</th><th>{{ date }}</th><th>{{ header }}</th></tr>
        <tr><td></td><td></td><td></td></tr>
    </table>
{% endblock %}
